fieldset {
    background-color: rgb(253, 252, 252);
}
label{
    font-size: large;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
}
input:hover{
    cursor: pointer;
}
h2{
    text-align: center;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
}
div.submit{
    margin-left: 50%;
}